argcomplete~=3.6.0
certifi~=2025.1.31
chardet~=5.2.0
charset-normalizer~=3.4.1
click~=8.1.8
colorama~=0.4.6
contourpy
cycler~=0.12.1
Faker~=37.0.0
fonttools~=4.56.0
idna~=3.10
joblib~=1.4.2
jsonpickle~=4.0.2
kiwisolver~=1.4.8
matplotlib
more-itertools~=10.6.0
numpy
packaging~=24.2
pillow~=11.1.0
pipx~=1.7.1
platformdirs~=4.3.6
pyparsing~=3.2.1
python-dateutil~=2.9.0.post0
requests~=2.32.3
six~=1.17.0
tzdata~=2025.1
urllib3~=2.3.0
userpath~=1.9.2
webcolors~=24.11.1
pandas
nbformat~=5.10.4
Faker~=37.0.2
matplotlib~=3.10.1
setuptools~=77.0.3
dask~=2025.2.0
pandasgui
polars~=1.25.2
geographiclib~=2.0
numba~=0.61.0
folium~=0.19.5
rich~=13.9.4
weasyprint~=65.0
tools~=0.1.9
beautifulsoup4~=4.13.3
playwright~=1.51.0
lxml~=5.3.1
Jinja2~=3.1.6
pyarrow~=19.0.1
prefect~=3.2.14
tqdm~=4.67.1
geopandas~=1.0.1
shapely~=2.0.7
objgraph~=3.6.2
datadog~=0.51.0
typer~=0.15.2
jsonschema~=4.23.0
sympy~=1.13.3