[
{% for airport in aeroports -%}
  {
    "code": "{{ airport.code }}",
    "name": "{{ airport.name }}",
    "city": "{{ airport.city }}",
    "country": "{{ airport.country }}",
    "latitude": {{ airport.latitude }},
    "longitude": {{ airport.longitude }},
    "altitude": {{ airport.altitude }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]